<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Welcome to Carwale
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
		link(rel="stylesheet", href="/css/site.css")
	body(ng-app="app")
		include currentUser
		block main-content
		include scripts